body.bg-dark {
  background-color: #121212 !important;
  color: #ffffff !important;
}

body.bg-light {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.card,
.form-control,
input,
textarea,
select {
  background-color: inherit;
  color: inherit;
  border-color: #ccc;
}

.form-control::placeholder {
  color: #aaa;
}
