<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="description" content="Best JS tutorials and POCs by Tilak">
</head>
<body>
  <h1>Welcome to My SEO-Optimized Page!</h1>
</body>
</html>
